<?xml version="1.0"?>
<log4net debug="false">
  <appender name="animalLog" type="log4net.Appender.RollingFileAppender">
    <file value="F:\SearchInputAndBackup\Logs\animal.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level - %message%newline" />
    </layout>
  </appender>

  <appender name="animalManager" type="log4net.Appender.RollingFileAppender">
    <file value="F:\SearchInputAndBackup\Logs\animalManager.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level  - %message%newline" />
    </layout>
  </appender>

  <appender name="animalMap" type="log4net.Appender.RollingFileAppender">
    <file value="F:\SearchInputAndBackup\Logs\animalMap.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level  - %message%newline" />
    </layout>
  </appender>

  <appender name="mapLog" type="log4net.Appender.RollingFileAppender">
    <file value="F:\SearchInputAndBackup\Logs\map.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level  - %message%newline" />
    </layout>
  </appender>
  
  <appender name="mapManager" type="log4net.Appender.RollingFileAppender">
    <file value="F:\SearchInputAndBackup\Logs\mapManager.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level  - %message%newline" />
    </layout>
  </appender>

  <appender name="moverLog" type="log4net.Appender.RollingFileAppender">
    <file value="F:\SearchInputAndBackup\Logs\mover.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level  - %message%newline" />
    </layout>
  </appender>

  <appender name="simLog" type="log4net.Appender.RollingFileAppender">
    <file value="F:\SearchInputAndBackup\Logs\simulation.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level  - %message%newline" />
    </layout>
  </appender>

  <appender name="animalAttribute" type="log4net.Appender.RollingFileAppender">
    <file value="F:\SearchInputAndBackup\Logs\animalAttribute.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level  - %message%newline" />
    </layout>
  </appender>

  <appender name="formLog" type="log4net.Appender.RollingFileAppender">
    <file value="F:\SearchInputAndBackup\Logs\form.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level  - %message%newline" />
    </layout>
  </appender>

  <appender name="homeRange" type="log4net.Appender.RollingFileAppender">
    <file value="F:\SearchInputAndBackup\Logs\homeRange.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level  - %message%newline" />
    </layout>
  </appender>

  <appender name="mapsLog" type="log4net.Appender.RollingFileAppender">
    <file value="F:\SearchInputAndBackup\Logs\maps.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level  - %message%newline" />
    </layout>
  </appender>

  <appender name="hrTrigger" type="log4net.Appender.RollingFileAppender">
    <file value="F:\SearchInputAndBackup\Logs\hrTrigger.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level  - %message%newline" />
    </layout>
  </appender>

  <appender name="homeSite" type="log4net.Appender.RollingFileAppender">
    <file value="F:\SearchInputAndBackup\Logs\homeSite.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level  - %message%newline" />
    </layout>
  </appender>

  <appender name="dataLogger" type="log4net.Appender.RollingFileAppender">
    <file value="F:\SearchInputAndBackup\Logs\dataLogger.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level  - %message%newline" />
    </layout>
  </appender>

  <appender name="Error" type="log4net.Appender.RollingFileAppender">
    <file value="F:\SearchInputAndBackup\Logs\errorLog.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level  - %message%newline" />
    </layout>
  </appender>

  <logger name ="animalLog">
    <level value="ALL"/>
    <appender-ref ref="animalLog" />
  </logger>

  <logger name ="animalManager">
    <level value="ALL"/>
    <appender-ref ref="animalManager" />
  </logger>

  <logger name ="animalMap">
    <level value="ALL"/>
    <appender-ref ref="animalMap" />
  </logger>

  <logger name ="mapLog">
    <level value="ALL"/>
    <appender-ref ref="mapLog" />
  </logger>

  <logger name ="mapManager">
    <level value="ALL"/>
    <appender-ref ref="mapManager" />
  </logger>

  <logger name ="moverLog">
    <level value="ALL"/>
    <appender-ref ref="moverLog" />
  </logger>

  <logger name ="simLog">
    <level value="ALL"/>
    <appender-ref ref="simLog" />
  </logger>

  <logger name ="animalAttribute">
    <level value="ALL"/>
    <appender-ref ref="animalAttribute" />
  </logger>

  <logger name ="formLog">
    <level value="ALL"/>
    <appender-ref ref="formLog" />
  </logger>

  <logger name ="homeRange">
    <level value="ALL"/>
    <appender-ref ref="homeRange" />
  </logger>

  <logger name ="mapsLog">
    <level value="ALL"/>
    <appender-ref ref="mapsLog" />
  </logger>

  <logger name ="hrTrigger">
    <level value="ALL"/>
    <appender-ref ref="hrTrigger" />
  </logger>

  <logger name ="homeSite">
    <level value="ALL"/>
    <appender-ref ref="homeSite" />
  </logger>

  <logger name ="dataLogger">
    <level value="ALL"/>
    <appender-ref ref="dataLogger" />
  </logger>
  
  <logger name ="Error">
    <level value="ALL"/>
    <appender-ref ref="Error" />
  </logger>


</log4net>